@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --font-size-quote: 28px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.advice-component {
  background-color: var(--dark-grayish-blue);
  margin: 0 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
  max-width: 768px;
  position: relative;
}

.advice {
  color: var(--neon-green);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.qoute {
  color: var(--light-cyan);
  font-size: var(--font-size-quote);
  text-align: center;
  margin: 1rem 0 2rem;
}

.qoute-icon {
  width: 100%;
}

.test {
  position: relative;
  margin: 1.5rem 0;
  width: 100%;
}

.test span {
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
  background-color: var(--neon-green);
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  bottom: -28px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn:active {
  box-shadow: 0px 0px 25px 1px rgba(82, 255, 168, 1);
  outline: none;
}

@media only screen and (min-width: 420px) {
  body {
    align-items: center;
  }

  .qoute-icon {
    width: auto;
  }

  .btn {
    transition: box-shadow 0.5s;
  }

  .btn:hover {
    box-shadow: 0px 0px 25px 1px rgba(82, 255, 168, 1);
    outline: none;
  }

  .test span::after {
    position: absolute;
    content: "";
    top: 0.5rem;
    left: 0;
    width: 47%;
    border: 1px solid var(--grayish-blue);
  }

  .test span::before {
    position: absolute;
    content: "";
    top: 0.5rem;
    right: 0;
    width: 47%;
    border: 1px solid var(--grayish-blue);
  }
}
